# MongoDB Stitch Configuration
STITCH_APP_ID=seu-app-id-aqui
STITCH_REGION=us-east-1
STITCH_API_URL=https://${STITCH_REGION}.aws.data.mongodb-api.com/app/${STITCH_APP_ID}/endpoint

# Database
MONGODB_URI=sua-mongodb-uri
DB_NAME=delicitas

# App Config
NEXT_PUBLIC_API_URL=https://us-east-1.aws.data.mongodb-api.com/app/SEU-APP-ID/endpoint
